<div class="container">
    <div *ngFor="let Prescription of myPrescriptions | keyvalue">
        <!-- <div *ngFor="let prescri of prescriptions"> -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{heading}}</h4>
                <h4 class="card-title">{{Prescription.patientname}}</h4>
                <p class="card-text">{{Prescription | json}}</p>
                <!-- <div [innerHTML]="prescription | json"></div> -->
                <p class="card-text">{{Prescription.key }} - {{ Prescription.value}} </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>